.weather-rain {
    display: none;
}

.weather-clear {
    display: none;
}

.weather-clouds {
    display: none;
}

.weather-drizzle {
    display: none;
}

.weather-mist {
    display: none;
}

.weather-snow {
    display: none;
}